fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-multipart
python-dotenv

sqlalchemy
psycopg[binary]
alembic

pandas
numpy
scipy
scikit-learn

sentence-transformers
transformers
torch
faiss-cpu

rapidfuzz
rank-bm25

google-genai

mlflow

httpx

PyJWT
pwdlib[argon2]

pytest
pytest-asyncio